<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Minha Conta</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
        <link rel="stylesheet" href="/css/style.css">        
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand mb-3 mt-3 d-flex" href="/">
                    <img src="/images/logo.png" alt="" width="60" height="48" class="d-inline-block align-text-top">
                    <h1 class="me-3">Blog de games</h1>
                </a>
                <div class="row align-middle">
                    {{#usuario}}
                    {{#admin}}
                    <div class="col align-middle">
                        <a href="/administrador"><h4 style="color: black">Administrador</h4></a>
                    </div>
                    {{/admin}}
                    <div class="col align-middle">
                        <a href="/conta"><h4 style="color: black">Conta</h4></a>
                    </div>
                    <div class="col align-middle">
                        <a href="/logout"><h4 style="color: black">Sair</h4></a>
                    </div>
                    {{/usuario}}
                    {{^usuario}}
                    <div class="col align-middle">
                        <a href="/cadastrarUsuario"><h4 style="color: black">Cadastro</h4></a>
                    </div>
                    <div class="col align-middle">
                        <a href="/login"><h4 style="color: black">Entrar</h4></a>
                    </div>
                    {{/usuario}}
                </div> 
            </div>
        </nav>
        {{^admin}}
        <div class="container">
            <div class="containerConta">
                <h1 class="text-center">Minha Conta</h1>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" value="{{usuario.nome}}" disabled>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" value="{{usuario.email}}" disabled>
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone:</label>
                    <input type="tel" class="form-control" id="telefone" value="{{usuario.telefone}}" disabled>
                </div>
                <div class="mb-3">
                    <label for="Senha" class="form-label">Senha:</label>
                    <input type="password" class="form-control" id="Senha" value="{{usuario.senha}}" disabled>
                </div>
                <div class="text-center">
                    <a href="/editarConta" class="btn btn-primary w-100 mb-3">Editar Conta</a>

                    <form action="/excluirConta" method="post">
                        <button type="submit" class="btn btn-danger w-100 mb-3">Excluir conta</button>
                    </form>
                </div>
            </div>
        </div>
        {{/admin}}

        {{#admin}}
        <main>
            <h1 style="text-align: center;">Usuários</h1>
            
            <div class="container mt-4 mb-4 ">    
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Administrador</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#usuarios}}    
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{nome}}</td>
                        <td>{{email}}</td>
                        <td>{{telefone}}</td>
                        <td>{{senha}}</td>
                        <td>{{admin}}</td>
                        <td>
                            <form action="/adminExcluirConta/{{id}}" method="post">
                                <a href="/adminEditarConta/{{id}}" style="text-decoration: none;">✏️</a>
                                <button type="submit" style="text-decoration: none; border: none; background-color: transparent;">🗑️</button>
                            </form>
                        </td>
                    </tr>
                    {{/usuarios}}
                </table>
            </div>    
            <!--Até aqui vai a tabela-->                      
        </main>
        {{/admin}}
    </body>
</html>